# Helado


Este es nuestro equipo


### Descripción de los datos Gio

- dataset es uno  de compra y venta de casas

### Descripción de los datos Sam

### Descripción de los datos Fer

### Descripción de los datos Kevin

- Dataset ("Adult income") que predice si una persona gana 50k o no.

## proposito 

Implementar un modelo de ML para clasiafición  y uno de regresion a partir de las varibles indendepndtienes predecir

# Cargar librerias

In [1]:
# ejemplos
import numpy as np
from sklearn.model_selection import train_test_split
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix

# Cargar conjunto de datos

se puede cargarde desde cualquier fuente estrcturada (csv, sql, xml ... etc)

In [ ]:
df = pd.read_csv('tested.csv', sep=",")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

# Analizar y visualizar el conjunto de datos


- Estadisticas (df.info(), df.describe())
- Histogramas (distribución normal)

# Limpiar el conjunto de datos

- Valores perdidos-nulos-anomalias
- Limpieza de datos
- Normalizar

#Modelo de machine learning para clasificación

# Dividir el df en variables independientes y dependiente

In [ ]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
df.shape

(418, 12)

In [ ]:
features = ['X1', 'X2', 'X3', 'X4']
X = df[features]
y = df['y_predict']

# Particionar el conjuton de datos en datos de pueba y entrenamiento


https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

#Implementar el modelo de ML


https://scikit-learn.org/stable/index.html

In [ ]:

# definir el modelo
modelo = nombre_modelo(parametros)
#entrenar el modelo
modelo.fit(X, y)
#predecir con el modelo entrenado
y_pred = modelo.predict(X_test)
#imprimir valores predichos
y_pred

array([1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1,
       1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0,
       1, 1, 0, 1, 1])

#Implementar las metricas diagnosticas para evaluar el rendimiento del modelo de ML

- Reporte de clasificacion https://scikit-learn.org/stable/modules/generated/sklearn.metrics.classification_report.html

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.30      0.86      0.44         7
           1       0.99      0.84      0.91        86

    accuracy                           0.84        93
   macro avg       0.64      0.85      0.68        93
weighted avg       0.93      0.84      0.87        93

#Implementar las metricas diagnosticas de visualización

- Matriz de confusión https://scikit-learn.org/stable/modules/generated/sklearn.metrics.confusion_matrix.html
- Curva ROC https://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_curve.html

In [1]:

fpr1, tpr1, thresholds = roc_curve(y_test_encoded, y_pred_encoded)
roc_auc = auc(fpr1, tpr1)

# Plot ROC curve
plt.figure()
lw = 2
plt.plot(fpr, tpr, color='darkorange',
         lw=lw, label='ROC curve (area = %0.1f)' % roc_auc)
plt.plot([0, 1], [0, 1], color='navy', lw=lw, linestyle='--')

plt.plot(fpr1, tpr1, color='black',
         lw=lw, label='ROC curve (area = %0.1f)' % roc_auc)
plt.plot([0, 1], [0, 1], color='navy', lw=lw, linestyle='--')

plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('Receiver operating characteristic example')
plt.legend(loc="lower right")
plt.show()

NameError: name 'roc_curve' is not defined

In [ ]:

# Create the confusion matrix
cm = confusion_matrix(y_test, y_pred)

# Print the confusion matrix
print(cm)

# Create a heatmap of the confusion matrix
import matplotlib.pyplot as plt

plt.imshow(cm, interpolation='nearest', cmap=plt.cm.Blues)
plt.title('Confusion Matrix')
plt.colorbar()
tick_marks = np.arange(len(np.unique(y_test)))
plt.xticks(tick_marks, np.unique(y_test))
plt.yticks(tick_marks, np.unique(y_test))

# Fill in the values of the confusion matrix
for i in range(len(np.unique(y_test))):
  for j in range(len(np.unique(y_test))):
    plt.text(j, i, str(cm[i][j]), ha='center', va='center', color='white')

plt.xlabel('Predicted label')
plt.ylabel('True label')
plt.show()

# Discusión de los resultados
- Que tan bueno o malo fue el modelo para cada clase